<template>
	<div class="container">
		<div class="row" v-if="car">
			<div class="col-12 mt-2 mb-2">
				<h1>{{car.name}}</h1>
			</div>
			<div class="col-12">
				<router-link to="/">На главную</router-link>
			</div>
			<div class="col-4" v-for="image in car.images" :key="image.id">
				<img :src="image.thumbnail_url" class="image mt-2 mb-2" alt="">
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Car',
	methods: {
	},
	computed: {
		car() {
			if (this.$store.state.cars) {
				return this.$store.state.cars.filter(car => car.id == this.$route.params.id)[0];
			}
			return null;
		}
	},
	mounted() {
		this.$store.dispatch('getCars');
	}
}
</script>

<style>
	.image {
		width: 100%;
	}
</style>