<template>
	<div>
		<main v-if="cars">
			<div class="album py-5 bg-light">
				<div class="container">
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						<router-link :to="`/car/${car.id}`" class="col mb-3" v-for="car in cars" :key="car.id">
							<div class="card shadow-sm">
								<img :src="car.image" alt="">
								<div class="card-body">
									<p class="card-text">{{car.name}}</p>
									<div class="d-flex justify-content-between align-items-center">
										<small class="text-muted">{{car.year}} год</small>
									</div>
								</div>
							</div>
						</router-link>
					</div>
				</div>
			</div>
		</main>
	</div>
</template>

<script>
export default {
	name: 'Main',
	methods: {
	},
	computed: {
		cars() {
			return this.$store.state.cars;
		}
	},
	mounted() {
		this.$store.dispatch('getCars');
	}
}
</script>